
:root {
  max-width: 1440px;
  margin: auto;
  align-items: center;
  margin-top: 0;
  /*background-color: rgb(224, 244, 236);*/
  /*background-color: rgb(217, 255, 242);*/
  background-color: azure;
  color: #333;
}



section {
  width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 1.3;
  /*background-color: rgb(217, 249, 237);*/
}

a {
  
  transition: all 0.3s ease
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 80px;
}

svg {
  justify-content: baseline;
  align-items: baseline;
  width: 24px;
  height: 24px;
}
