@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

.wrapper {
  width: 60%;
  padding: 40px 0;
}

.question {
  margin: 15px auto 25px auto;
  font-size: 28px;
  font-family: "Bellefair", serif;
  font-weight: 500;
  padding: 30px 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 32px;
  border-right: 88px solid #668283;
  border-left: 88px solid #668283;
  border-start-start-radius: 250px 100px;
  border-top-left-radius: 10px;
  background-color: rgb(64, 156, 248);
  transition: all 0.5s ease-in-out;
  color: azure;
}

.question:hover {
  border: 1px solid #668283;
  border-right: 108px solid #668283;
  border-left: 108px solid #668283;
  box-shadow: 5px 5px 10px rgba(66, 67, 67, 0.177);
  transform: scale(110%);
}


.answer {
  margin: 25px auto;
  font-size: 28px;
  font-family: "Bellefair", serif;
  font-weight: 500;
  padding: 30px 20px;
  line-height: 32px;
  display: flex;
  border-left: 88px solid #668283;
  border-right: 88px solid #668283;
  border-end-end-radius: 250px 100px ;
  border-bottom-right-radius: 10px;
  background-color: rgb(72, 78, 249);
  transition: all 0.5s ease-in-out;
  color: azure;
}

.answer:hover {
  transform: scale(110%);
  box-shadow: 5px 5px 10px rgba(66, 67, 67, 0.177);
  border: 1px solid #668283;
  border-left: 108px solid #668283;
  border-right: 108px solid #668283;
}


.seperator {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px 0;
}
