@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.wrapper {
  width: 100%;
  position: relative;
}

.imageContainer {
  background-image: url("/scales.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.typewriter {
  padding: 500px 0 0;
  justify-content: flex-end;
  display: flex;
  margin: auto;
  font-size: 48px;
  font-family: 'Secular One', sans-serif;
  color: var(--color-dark);
  padding-left: 20px;
}
