@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;700&family=Noto+Rashi+Hebrew:wght@700&family=Rubik+Storm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap");

.logo {
  max-width: 100%;
  font-size: 84px;
  display: flex;
  /*align-content: flex-start;*/
  justify-content: baseline;
  margin: 0;
  margin-right: 90px;
  flex-grow: 5;
  font-family: "Rubik Storm", cursive;
  transition: all 1.6s ease-in-out;
}

.logo_scrolled {
  font-size: 46px;
  font-family: "Rubik Storm", cursive;
  justify-content: baseline;
  color: #baeff1;
  margin: 0 80px;
  float: left;
  transition: all 1.6s ease-in-out;
}

.nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border-bottom: #333 2px solid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.8s linear;
}

.nav_scrolled {
  background-color: rgb(81, 78, 78);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border-bottom: #333 2px solid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.8s linear;
  /*align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(219, 212, 212);
  background-color: rgb(81, 78, 78);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10 auto;
  z-index: 3;
  transition: all 0.6s linear;*/
}

.link {
  display: block;
  width: 120px;
  padding: 8px 0;
  margin: 15px;
  box-shadow: 4px 4px 4px rgb(172, 175, 175);
  border-radius: 4px;
  background: rgb(92, 92, 93);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s linear;
  font-family: "David Libre", serif;
  max-height: 20px;
  justify-content: baseline;
  color: #baeff1;
}

/*.link_scrolled {
  background-color:white;
  display: block;
  width: 120px;
  padding: 8px 0;
  margin: 15px;
  box-shadow: 4px 4px 4px rgb(88, 91, 91);
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s linear;
  font-family: "David Libre", serif;
  justify-content: baseline;
  color: rgb(88, 91, 91);
}*/

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 40px 0 0;
  max-width: 100%;
}

.link:hover {
  box-shadow: 8px 8px 8px rgb(79, 82, 82);
}

/*.link_scrolled_active {
  box-shadow: 8px 8px 8px rgb(221, 230, 230);
  background-color: white;
}*/

/*.link_scrolled:hover {
  box-shadow: 8px 8px 8px rgb(221, 230, 230);
}*/

.link_active {
  display: block;
  width: 120px;
  padding: 8px 0;
  margin: 15px;
  box-shadow: 8px 8px 8px rgb(110, 115, 115);
  border-radius: 4px;
  border-right: rgb(92, 92, 93) 6px solid;
  border-left: rgb(92, 92, 93) 6px solid;
  background: rgb(217, 249, 237);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  font-family: "David Libre", serif;
  max-height: 20px;
  justify-content: baseline;
  color: #333;
}
